<h2 class="page-header">Gestion de Tarjetas</h2>

<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="tab" role="tabpanel">
        <ngui-tab>
          <!-- Nav tabs -->
          <div class="tabs">
            <ul class="nav nav-tabs" role="tablist">
              <div index="open">
                <li role="presentation" class="active"><a aria-controls="home" role="tab" data-toggle="tab">Abrir</a></li>
              </div>
              <div index="close">
                <li role="presentation"><a aria-controls="profile" role="tab" data-toggle="tab">Cerrar</a></li>
              </div>
            </ul>
          </div>
          <!-- Tab panes -->
          <div class="tab-content tabs">
            <div role="tabpanel" class="tab-pane fade in active" contents="open">
              <h3>Section 1</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec urna aliquam, ornare eros vel, malesuada
                lorem. Nullam faucibus lorem at eros consectetur lobortis.</p>
            </div>
            <div role="tabpanel" class="tab-pane fade in active" contents="close">
              <h3>Section 2</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec urna aliquam, ornare eros vel, malesuada
                lorem. Nullam faucibus lorem at eros consectetur lobortis.</p>
            </div>
          </div>
        </ngui-tab>
      </div>
    </div>
  </div>
</div>